//-
//- Copyright (C) 2015 by Looker Data Services, Inc.
//- All rights reserved.
//-

extends ../../layouts/basic

block content
    #composers-index(ng-controller='ComposerListController as controller')
        h1 Pick a composer to explore.
        .composer-list
            ul(ng-show='composerPage')
                li(class='composer-list-item' composer='composer' ng-repeat='composer in composerPage.list')
            .button-row
                input(
                    ng-class='composerPage.hasPrevPage() ? "" : "disabled"'
                    ng-click='prevPage()'
                    type='button'
                    value='prev'
                )
                input(
                    ng-class='composerPage.hasNextPage() ? "" : "disabled"'
                    ng-click='nextPage()'
                    type='button'
                    value='next'
                )
        .error(class='ng-cloak' ng-show='error')
            pre {{error}}
