//-
//- Copyright (C) 2015 by Looker Data Services, Inc.
//- All rights reserved.
//-

ul(ng-show='controller.list')
    li(ng-repeat='work in controller.list')
        a(class='ng-cloak' href='{{work.getDetailUrl()}}' target='_self') {{work.title}}

    .button-row
        input(
            ng-class='controller.hasPrevPage() ? "" : "disabled"'
            ng-click="controller.prevPage()"
            type='button'
            value='prev'
        )
        input(
            ng-class='controller.hasNextPage() ? "" : "disabled"'
            ng-click='controller.nextPage()'
            type='button'
            value='next'
        )
